.section-pagamento {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/img/background-senai.png);
    height: 100VH;
    background-position: center;
}

.container-pagamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100vh;
    background-color: var(--color-secondary-white);
    gap: 20px;
}

.container-pagamento .botao-de-sair{
    margin: 0 0 0 25px;
}

.content-pagamento{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px;
}
.pagamento-box-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.pagamento-box-top h2 {
    font-size: var(--font-headline-h3-size);
    font-weight: var(--fw-bold);
    font-family: var(--font-body);
}

.box-select {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 640px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: var(--font-body);
    font-weight: var(--fw-medium);
}

.box-select-visa {
    display: flex;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: var(--font-body);
    font-weight: var(--fw-medium);
}

/* ------------- */

.pagamento-box-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pagamento-box-mid h2 {
    font-size: var(--font-headline-h3-size);
    font-weight: var(--fw-bold);
    font-family: var(--font-body);
}

/* ----------- */


.pagamento-box-bot {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.info-pagamento {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 40px;
    border-bottom: 1px solid black;
    padding: 0 0 15px 0;
}

.nome-do-produto-e-preco {
    display: flex;
    flex-direction: column;
    
}

.nome-do-produto-e-preco h3 {
    font-size: var(--font-headline-h3-size);
    font-weight: var(--fw-bold);
    font-family: var(--font-body);
}

.precos {
    display: flex;
    color: var(--color-primary-red);
}

.precos p{
    font-family: var(--font-body);
    font-size: var(--font-headline-h3-size);
    font-weight: var(--fw-medium);
}

.precos span{
    font-family: var(--font-body);
    font-weight: var(--fw-medium);
    padding: 5px 0 0 0;
    text-decoration: line-through;
}

.descricao-produto {
    font-family: var(--font-body);
    margin: 0 0 30px 0;
}