.benefits-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  padding: 50px;
  background-color: var(--color-primary-red);
}

.benefit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  gap: 15px;
  text-align: center;
  color: var(--color-secondary-white);
}

.benefit-card img {
  width: 100px;
  
}

.benefit-card h3 {
  font-family: var(--font-body);
  font-size: var(--font-headline-h3-size);
  font-weight: var(--fw-bold);
  width: 230px;
  text-transform: uppercase;
}

.benefit-card p {
  font-family: var(--font-body);

}
