.section-about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.container-text h2 {
  font-family: var(--font-body);
  font-size: var(--font-headline-h2-size);
  width: 479px;
  text-align: center;
  text-transform: uppercase;
}

.container-text p {
  font-family: var(--font-body);
  font-size: var(--font-button-size);
  font-weight: var(--fw-medium);
  text-align: center;
  width: 443px;
}


.container-img{
    width: 50%;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}