:root {
    /* COLORS */
    --color-primary-red: #FF0000;
    --color-secondary-grey: #D9D9D9;
    --color-secondary-grey-dark: #737070;
    --color-secondary-white: #FFFFFF;
    --color-secondary-black: #000000;

    /* FONT SIZES*/
    --font-headline-h1-size: 70px;
    --font-headline-h2-size: 48px;
    --font-headline-h3-size: 30px;
    --font-headline-h4-size: 24px;
    --font-body-size: 16px;
    --font-button-size: 16px;
    --font-description-size: 16px;

    /* FONT FAMILY */
    --font-title: "Playfair", serif;
    --font-body: "Poppins", sans-serif;

    /* FONT WEIGHTS */
    --fw-extralight: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700; 
}