.container-historico{
    margin: 90px 0px 0px 0px
}

.container-historico h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: var(--font-body);
    font-size: var(--font-headline-h2-size);
    font-weight: var(--fw-light);
}

.data-historico {
    display: inline;
    padding: 2px;
    gap: 10px;
    margin: 10px;
    font-family: var(--font-body);
    font-size: var(--font-headline-h4-size);
    font-weight: var(----fw-semi-bold);
    border: 1px solid gray;
}

.lista-historico-header {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 10px;
    background-color: gray;
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    font-weight: var(----fw-semi-bold);
}

.lista-historico {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr 1.5fr 1.5fr;
    align-items: center;
    list-style: none;
    padding: 12px;
    gap: 100px;
    margin: 0px 0px 0px 20px;
    border-bottom: 1px solid #e0e0e0;
    font-family: var(--font-body);
    font-size: var(--font-body-size);
}

