.container-perfil {
    display: flex;
    justify-content: center;
    gap: 350px;
}

.container-foto-nome-email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 50px 10px;
}

.nome-email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.nome-email h5 {
    font-family: var(--font-body);
    border-top: 2px solid gray;
}

.informacoes-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.informacoes-perfil h2 {
    font-family: var(--font-body);
    font-size: var(--font-headline-h4-size);
    font-weight: var(--fw-semi-bold);
}

.informacoes-perfil h3 {
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    font-weight: var(--fw-semi-bold);
}

.informacoes-perfil h4 {
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    font-weight: var(--fw-light);
}

.informacoes-perfil h5 {
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    font-weight: var(--fw-extralight);
}

.informacoes-perfil img {
    max-width: 30vh;
    border-radius: 50%;
}

.container-cursos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.curso1 {
    display: flex;
    flex-direction: column;
    align-items: cente;
    background-color: var(--color-secondary-grey-dark);
    padding: 10px 100px 10px 10px;
}

.curso2 {
    background-color: var(--color-secondary-grey-dark);
    padding: 10px 100px 10px 10px;
}

.container-cursos h3 {
    border-bottom: 2px solid gray;
}


.imagem-prato-perfil {
    max-width: 80vh;
}