header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.senai-header {
  display: flex;
  gap: 20px;
}

.list-nav-header {
  display: flex;
  gap: 75px;
}

.item-list-nav {
  display: flex;
  list-style: none;
  font-family: var(--font-body);
  font-size: var(--font-body-size);
  color: var(--color-secondary-black);
}

.user-header {
  display: flex;
  gap: 10px;
}

.user-header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-user-header {
  font-family: var(--font-body);
  font-size: var(--font-body-size);
  color: var(--color-secondary-black);
  font-weight: var(--fw-bold);
}

.user-type-header {
  font-family: var(--font-body);
  font-size: var(--font-body-size);
  color: var(--color-secondary-black);
}


