header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  top: 0;
  width: 100%;
  z-index: 9999;
  position: fixed;
  background-color: var(--color-secondary-white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.senai-header {
  display: flex;
  gap: 20px;
}

.list-nav-header {
  display: flex;
  gap: 75px;
}

.item-list-nav {
  display: flex;
  text-decoration: none;
  font-family: var(--font-body);
  font-size: var(--font-body-size);
  color: var(--color-secondary-black);
}

.user-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-user-header {
  font-family: var(--font-body);
  font-size: var(--font-body-size);
  color: var(--color-secondary-black);
  font-weight: var(--fw-bold);
}

.user-type-header {
  font-family: var(--font-body);
  font-size: var(--font-body-size);
  color: var(--color-secondary-black);
}